html, body{
    height:100%;
    margin:30px 30px 30px 30px;
    padding:10px 10px 10px 10px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    z-index: 0;
    justify-content: space-between;
}

a:hover{
    color:lightgrey;

}

.background{
    position    : absolute;
    display     : block;
    top         : 0;
    left        : 0;
    z-index     : -1;
    background-color: #E4E4E4;
}