html, body{
    margin:0;
    padding:30px 10px 10px 30px;
}


.header{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    z-index: 0;
    justify-content: space-between;
}

.links{
    width: 20%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    padding: 0 100px;
}

a{
    text-decoration: none;
    color:black;
}

.background{
    position    : absolute;
    display     : block;
    top         : 0;
    left        : 0;
    z-index     : -1;
    background-color: #E4E4E4;
}

a:hover{
    text-decoration:underline;
}